<!-- 
   But     : Doc view
   Auteur  : Noé Henchoz
   Date    : 26.05.2022 / v1.0 
-->

<!DOCTYPE html>

<p class="text-center">Ceci est un test, je suis la view "doc.html"</p>
<p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia aut dolores nemo
    obcaecati maxime
    delectus recusandae doloremque. Facilis aperiam inventore repudiandae? Doloribus optio quo eum, animi unde
    blanditiis illum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sunt delectus alias obcaecati
    ipsam laboriosam natus repellat modi eum ullam voluptate rem quod repellendus voluptatem odio, officiis tempore
    minima provident!
</p>