<!-- 
   But     : Main view
   Auteur  : Noé Henchoz
   Date    : 26.05.2022 / v1.0 
-->

<!DOCTYPE html>

<div class="container">

    <p class="display-4 mt-3 mb-4 title-view-anime">Bienvenue sur météhenchoz&#160;!</p>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 weather-home weather-1">
            <p id="title-city1">New York</p>
            <p id="desc-city1"></p>
            <img id="icon1" alt="icon">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 weather-home weather-2">
            <p id="title-city2">Paris</p>
            <p id="desc-city2"></p>
            <img id="icon2" alt="icon">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 weather-home weather-3">
            <p id="title-city3">Londres</p>
            <p id="desc-city3"></p>
            <img id="icon3" alt="icon">
        </div>
    </div>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio totam officia incidunt ipsum est mollitia
        sit, a dolorum officiis atque molestiae corporis tempore iusto id fuga earum ipsa laboriosam odit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio totam officia incidunt ipsum est mollitia
        sit, a dolorum officiis atque molestiae corporis tempore iusto id fuga earum ipsa laboriosam odit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio totam officia incidunt ipsum est mollitia
        sit, a dolorum officiis atque molestiae corporis tempore iusto id fuga earum ipsa laboriosam odit.</p>     

</div>