<!-- 
   But     : Main view
   Auteur  : Noé Henchoz
   Date    : 26.05.2022 / v1.0 
-->

<!DOCTYPE html>

<div class="container">

    <p class="display-4 mt-3 title-view-anime">Bienvenue sur météhenchoz&#160;!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam tempore, esse, saepe repellendus obcaecati
        aperiam laboriosam hic magnam commodi, totam eos! Eos ullam adipisci fugit optio nulla dolores placeat?</p>

</div>