<!-- 
   But     : Station view
   Auteur  : Noé Henchoz
   Date    : 26.05.2022 / v1.0 
-->

<!DOCTYPE html>

<div class="container">

  <!-- Start header with city name and icon -->
  <div class="city-head me-2">
    <p class="display-2 my-2 city-title text-white" id="city-title"></p>
    <div class="icon-head text-center">
      <img class="city-icon" id="city-icon" alt="icon">
      <p class="my-0 text-icon text-white" id="text-icon"></p>
    </div>
  </div>
  <!-- End header with city name and icon -->

  <!-- Start tabs -->
  <ul class="nav nav-tabs my-2">
    <li class="nav-item">
      <a class="nav-link items-tab selected" id="current">Current</a>
    </li>
    <li class="nav-item">
      <a class="nav-link items-tab" id="forecast">Forecast</a>
    </li>
    <li class="nav-item">
      <a class="nav-link items-tab" id="map">Map</a>
    </li>
  </ul>
  <!-- End tabs -->

  <!-- Start loader for subViews -->
  <div class="subViews" id="subViews"></div>
  <!-- End loader for subViews -->

</div>