<!-- 
   But     : Station view
   Auteur  : Noé Henchoz
   Date    : 26.05.2022 / v1.0 
-->

<!DOCTYPE html>

<div class="container">

  <p class="display-3" id="city-title"></p>

  <ul class="nav nav-tabs my-2">
    <li class="nav-item">
      <a class="nav-link items-tab selected" id="current">Current</a>
    </li>
    <li class="nav-item">
      <a class="nav-link items-tab" id="forecast">Forecast</a>
    </li>
    <li class="nav-item">
      <a class="nav-link items-tab" id="map">Map</a>
    </li>
  </ul>

  <div class="subViews" id="subViews"></div>

</div>