.items-tab {
  color: black;
  cursor: pointer;
  font-family: Varela;
}

.items-tab:hover {
  color: black;
}

.nav-tabs {
  border-bottom: 1px solid white !important;
}

.selected {
  border: 1px solid white !important;
  background-color: white !important;
}

.city-title {
  font-family: Varela;
}

.city-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-icon {
  height: 96px;
  width: 96px;
}

.text-icon {
  font-size: medium;
  font-family: Varela;
}
