/*
  But     : Main CSS file
  Auteur  : Noé Henchoz
  Date    : 25.05.2022 / v1.0 
*/

html{background-color: #fff;}

body {
  margin-bottom: 150px;
  background-color: rgb(168,199,252);
}

/* Imports fonts */
@font-face {font-family: Marker;src: url('../../fonts/PermanentMarker-Regular.ttf');}

/* Navbar */
.navbar {
  background-color: #fac05e !important;
  border-bottom: 1px solid #000000;
}


#a-home,
#a-stations,
#a-doc,
#a-api,
#a-about {cursor: pointer;}

/* Links in navbar animation */
.nav-link::after {content: "";display: block;width: 0;height: 2px;background: #000;transition: width 0.4s;}
.nav-link:hover::after {width: 100%;}
.active::after {width: 100%;}

/* Remove outline on bootstrap toggle button */
.navbar-toggler:focus,
.navbar-toggler:active {outline: none;box-shadow: none;}

/* Title of each view */
.title-view-anime {
  animation: fromLeftWithBlur 1s;
  font-weight: bold;
  font-family: Marker;
}

.title-view-anime:hover {
  animation: fromLeftWithBlur 1s;
}

/* footer */
footer {
  width: 100%;
  height: 150px;
  z-index: -1;
  background-color: #fac05e;
}

/* Buttons footer */
.btn-footer {transform: scale(1);transition: transform 0.2s ease-in-out;}

.btn-footer:hover {transform: scale(1.3);transition: transform 0.2s ease-in-out;}


/* Keyframes animations */
@keyframes fromLeftWithBlur {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.weather-home {
  height: 310px;
  border: 1px solid white;    
  position: relative;
}

.weather-title-icon {
  display: flex; 
  justify-content: space-between;
}

.weather-1 {
  background-image: url("../../img/newyork.jpg");
  background-size: cover;
}

.weather-2 {
  background-image: url("../../img/paris.jpg");
  background-size: cover;
}

.weather-3 {
  background-image: url("../../img/london.jpg");
  background-size: cover;
}

.icon {height: 96px;width: 96px;}

.title-city {font-weight: 500;}

.div-temperature-city {
  position: absolute;
  bottom: 0;
}

.temperature-city {
  backdrop-filter: blur(5px);
  border-radius: 20px;
}